<div class="navbar">
    <div class="navbar-inner">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
            >science</mat-icon
        >
        Angular Project
    </div>
    <div class="navbar-items">
        <ul>
            <a
                routerLink="/dashboard"
                routerLinkActive="active"
                class="button-icons"
            >
                <button mat-raised-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >dashboard</mat-icon
                    >
                    Dashboard
                </button>
            </a>
            <a
                routerLink="/login"
                routerLinkActive="active"
                class="button-icons"
            >
                <button mat-raised-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >login</mat-icon
                    >
                    Login
                </button>
            </a>
            <a
                routerLink="/change-password"
                routerLinkActive="active"
                class="button-icons"
            >
                <button mat-raised-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        >lock_reset</mat-icon
                    >
                    Change Password
                </button>
            </a>
        </ul>
    </div>
</div>
