.navbar {
    background-color: #333;
    color: white;
    /* padding: 10px; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .navbar-inner {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .navbar-items ul {
        margin: 0;
        padding: 10px;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
