<div class="employee page-content-item">
  <h1>Employee</h1>
  <p style="font-weight: 500;">List of Employees</p>

  <table mat-table [dataSource]="employees" class="mat-elevation-z8">

    <!-- Id Column -->
    <!-- * Below line can only be used if a string is printed -->
    <mat-text-column name="id" label="ID"></mat-text-column>

    <!-- Name Column -->
    <mat-text-column name="name" label="Name"></mat-text-column>

    <!-- Username Column -->
    <mat-text-column name="username" label="Username"></mat-text-column>

    <!-- Email Column -->
    <mat-text-column name="email" label="Email"></mat-text-column>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

</div>
