<div class="page-wrapper">
    <div class="container">
        <h1>Change Password</h1>

        <form [formGroup]="applyForm" (submit)="changePassword()">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Previous Password</mat-label>
                <input
                    formControlName="previousPassword"
                    type="email"
                    matInput
                    placeholder="Previous Password"
                />
                <mat-icon color="accent" matSuffix>lock_open</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>New Password</mat-label>
                <input
                    formControlName="newPassword"
                    type="password"
                    matInput
                    placeholder="New Password"
                />
                <mat-icon color="accent" matSuffix>password2</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Confirm Password</mat-label>
                <input
                    formControlName="confirmPassword"
                    type="password"
                    matInput
                    placeholder="Confirm Password"
                />
                <mat-icon color="accent" matSuffix>password2</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit">
                Change
            </button>
        </form>
    </div>
</div>
