.employee {
    background-color: var(--background-color);
    height: 100%;
}

table {
    width: 100%;
}

.search-container {
    background-color: #333;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;

    input {
        color: white;
    }

    .search-btn {
        height: 50px;
        margin-bottom: 20px;
    }
}
