<div class="sidebar">
  <h2>Navigation</h2>
  <ul>
      <a routerLink="home" routerLinkActive="active" class="button-icons">
          <button mat-raised-button color="accent">
              <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
              Home
          </button>
      </a>
      <a routerLink="employee" routerLinkActive="active" class="button-icons">
          <button mat-raised-button color="accent">
              <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
              Employee
          </button>
      </a>
  </ul>
</div>
